doctype html
html(lang="fi")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/dist/css/styles.css")
    title 404 Not Found | Hoivailo Oy
  body
    .container
      p.text-center 
        | The appointment with ID 
        span.fw-bold #{validatedBody.appointmentId} 
        | was not found.
