extends baseLayout.pug

block title
  title Appointments | Hoivailo Oy

block content
    .container-fluid
      p.text-center 
        | The appointment with ID 
        span.fw-bold #{validatedBody.appointmentId} 
        | has already been cancelled.