extends baseLayout.pug 

block title
  title Ajanvaraus varatuu onniistunneeksi | Hoivailo Oy

block content 
  .container-fluid
    .container.w-50.m-5
      p.mb-4.text-center Ajanvaraus varatuu onniistunneeksi. 
      p.mb-4.text-center Olemme laittanut sähköposti viesti sähköpostiosoiteeseen 
        | #{savedAppointment.email} ajanvaurustasi. 