extends baseLayout.pug 

block title
  title Ajanvaraus varatuu onniistunneeksi | Hoivailo Oy

block content 
  .container.d-flex.flex-column.align-items-center
    .container
      h3.mb-4.text-center Ajanvaraus varatuu onniistunneeksi. 
      p.mb-4.text-center Olemme laittanut sähköposti viesti sähköpostiosoiteeseen 
        | #{savedAppointment.email} ajanvaurustasi. 