extends baseLayout.pug 

block title
  title Appointment Successfully Booked | Hoivailo Oy

block content 
  .container-fluid
    .container.w-50.m-5
      p.mb-4.text-center Appointment successfully booked! 
      p.mb-4 A confirmation email has been sent to
        | #{savedAppointment.email}