extends baseLayout.pug

block scripts 
  script(defer src="../public/dist/js/index.main.js")
  script(defer src="../public/dist/js/cancelAppointment.main.js")
block title
  title Cancel Appointment | Hoivailo Oy

block content
  .container-fluid
    .container.w-50.m-5.bg-primary-subtle.p-4
      form.appointment-cancelling(action="http://localhost:3001/appointment/cancel" method="post")
        .mb-3.name-group
          label.form-label(for="appointmentId") Ajan varauden koodi
          input.form-control(type="text" name="appointmentId" placeholder="Koodi" id="appointmentId" required)
        .mb-3.name-group
          label.form-label(for="reason") Syy
          textarea.form-control(name="reason" id="reason")
          p.text-body-tertiary Ethän lähetä lomakkeella arkaluonteisia tietoja, kuten terveystietoja.
        button.btn.btn-primary(type="submit") Peruta ajanvaraus
      p.text-danger.mb-3.opacity-0(id="error-alert")
        
