extends baseLayout.pug 

block title
  title Appointment Successfully Cancelled | Hoivailo Oy
block content
  .container-fluid
    .container.w-50.m-5
      p.mb-4.text-center Olet peruuttanut tapaamisesi onnistuneesti.
 
