extends baseLayout.pug 

block title
  title Appointment Successfully Cancelled | Hoivailo Oy
block content
  .container.d-flex.flex-column.align-items-center
    .container.m-5.shadow-lg
      p.mb-4.text-center Olet peruuttanut tapaamisesi onnistuneesti.
 
