doctype html
html(lang="fi")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/dist/css/styles.css")
    title Contact Us | Hoivailo Oy
  body
    .container.mb-3
      p.text-center Your message has been successfully sent. We will get back to you as soon as possible.
