extends baseLayout.pug 

block title
  title Yhteistieto | Hoivailo Oy

block content
  .page-tittle.d-flex.align-items-center.text-white.mb-6
    .container.text-center
      h1.display-3 YHTEISTIEDOT
  .container-md.text-center.mb-4
    p.text-center.mb-3 Viestisi on lähetetty.



