extends baseLayout.pug 

block title
  title Yhteistieto

block content
  .container.mb-4
    p.text-center.mb-3 Your message has been successfully sent. We will get back to you as soon as possible.


