extends baseLayout.pug

block title 
  title Henkilökohtainen Apu Palvelu | Hoivailo Oy


block content
  .page-tittle.d-flex.align-items-center.text-white.mb-6
    .container.text-center
      h1.display-3 HENKILÖKOHTAINEN APU