doctype html
html(lang="fi")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/dist/css/styles.css")
    title Home
  body
    .container.w-50.m-5
      a.btn.btn-primary(href="http://localhost:3001/appointment/select-appointment-date") Varaa aikaa