extends baseLayout.pug 

block content
  .page-tittle.d-flex.align-items-center.text-white.mb-6
    .container.text-center
      h1.display-3 VARAA AIKAA
  .container.d-flex.flex-column.align-items-center
    p.mb-4 Ei ole mahdollisuuksia siinä päivänä. Valitse eri päivämäärä.
    a.btn.btn-primary.mb-4(href="http://localhost:3001") Siiry etusivulle
