doctype html
html(lang="fi")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/dist/css/styles.css")
    title No Slots Found | Hoivailo Oy
  body
    .container.w-50
      p.text-primary No slots found!