extends baseLayout.pug 

block title 
  title Select appointment date | Hoivailo Oy

block links 
  link(rel="stylesheet", href="../public/dist/css/styles.css")
  link(rel="stylesheet", href="../public/dist/css/slots.css")

block scripts
  script(defer src="../public/dist/js/index.main.js")
  script(defer src="../public/dist/js/slots.main.js")

block content
  .page-tittle.d-flex.align-items-center.text-white.mb-6
    .container.text-center
      h1.display-3 VARAA AIKAA
  // General content container
  .container.d-flex.flex-column.align-items-center
    // Notice and date picker container
    .container.d-flex.align-items-center
      // Date picker container
      .container.mb-5
        label.fw-bold.mb-2(for="datePicker") Valitse päivämäärä:
        input.form-control.fw-bold(type="date", id="datePicker")
        span.input-group-text.w-2(data-td-toggle="datetimepicker" hidden)
        p.text-center
        .container.text-center.mt-4
          button.btn.btn-primary.slots-btn.mb-4
            | Näytä aikoja
      // Notice container
      .container.bg-primary-subtle.p-4.mb-5.rounded-4
        h4.text-center.mb-4 HUOMIOI !!

        p.text-center.mb-4 Nykyenpäiät, Viikonlopput, ja lomapäivät ei ole yhtä aikaa


