extends baseEmail

block title 
  | Uusi viesti
block content
  table(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(align="center")
        table(border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td
              | Sinulla on uusi viesti,
              br
              br
              strong Asiakkaan tiedot
              br
              | Nimi: #{name}
              br
              | Puhelin: #{phone}
              br
              | Sähköposti: #{email}
              br
              br
              strong Viesti
              br
              | #{message}
              br
              br
              i Ei saa vastata tämään viestihiin. Jos sinä tarviisit liisää tietoa voisit laittaa viesti klikkaamalla likkiin
              a(href="https://example.com/contact-us")    Yhteystiedot