@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap");

$font-family-sans-serif: "Oswald", sans-serif;
$font-family-base: $font-family-sans-serif;

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  6: 5rem,
  7: 8rem
);

$theme-colors: (
  "primary": #0dcdfde5,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
  // Add more
  "custom": #bada55
);

$colors: (
  "primary": #0d6efd,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
  // custom colors
  "brand": #663399,
  "muted-blue": #8899aa
);

.bg-dark-blue {
  background-color: #002d72;
  color: white;
}

.social-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)),
    url(../assets/hero_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-tittle {
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)),
    url(../assets/kotihoito.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
