extends baseEmail

block title 
  | Ajanvarauksesi peruuttanut 
  
block content
  table(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(align="center")
        table(border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td
              | Ajanvarauksesi peruuttanut 
              br
              | Peruttu aika: 
              br
              | Päivä:#{date}
              br
              | Aika:#{time}
              br
              | Palvelu:#{service}
              br
              | Syy: #{reason}
              br
