extends baseEmail

block title 
  | Ajanvaraus varattu
block content
  table(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr
      td(align="center")
        table(border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td
              | Kiitos varauksestasi!
              br
              | Päivä: #{date}
              br
              | Aika: #{time}
              br
              | Palvelu: #{service}
              br
              | Mikäli joudut perumaan ajan, teethän sen viimeistään 24 tuntia ennen varattua aikaa.
              br
              | Peruutus koodi on: #{id}
              br
              a(href="http://localhost:3001/tapaaminen/peruta") Klikkaa tähän peruuttamaan
              br
              br
              i Ei saa vastata tämään viestihiin. Jos sinä tarviisit liisää tietoa voisit laittaa viesti klikkaamalla likkiin
              a(href="http://localhost:3001/yhteistiedot") Yhteystiedot
              br
              | Kiitos.